
.icon {
    height: 20px;
}

.top-buffer{

    height: 50px;
}

.navbar-nav{
    width:100%;
    height: 50px;
    background-color: bisque;
    position: fixed;
    top:0;
    z-index: 1000;
}

.menu-bars{
    padding-left:6px
}

.menu-plus {
    position:fixed;
    right: 140px;
    top: 10px;
}

.icon-holder {
    height:40px;
    width:40px;
    margin: 10px;
    margin-left: 18px;
}

.icon-holder:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.icon-holder-right {
    position:fixed;
    right: 133px;
    top: 5px;
    height: 40px;
    width: 40px;
}

.icon-holder-right:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.dealer-name{
    position:fixed; 
    right: 25px;
    top: 12px;
}

a {
    color:black
}


.wrapper {
    display: flex;
    align-items: stretch;
}

/* sign in overlay */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

/* content rows */
.row {
    width: 100%;
}

/* main containers */
#stat-container.row {
    height: 200px;
}

#carousel-container.row {
    height: 340px;
}

#lead-container.row {
    padding-top: 25px;
}

#leaderBoardCard {
    margin-right: 25px;
    padding: 10px;
    height: 167px;
}

#leaderboard {
    margin: 0px;
}

/* side scrolling car carousel */
.scrolling-wrapper {
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

.car-card {
    display: inline-block;
    margin-left: 3px;
    /* cursor: grab; */
}
/* 
.car-card:active {
    cursor: grabbing;
} */


/* cards for cars */
.card {
    padding: 25px;
    position: relative;
    left: 25px;
    top: 25px;
    margin: 5px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

/* these two scrolls are both for leaderboard */
.my-custom-scrollbar {
    position: relative;
    height: 250px;
    overflow: auto;
    }


.table-wrapper-scroll-y {
display: block;
}

.view-vehicle-info-icon{
   position: absolute; 
   right: 30px; 
   bottom: 7px;
}

.view-vehicle-info-icon:hover {
    cursor: pointer;
}

.vehicle-grip-icon {
    position: absolute;
    right: 48%;
    bottom: 7px;
}

.vehicle-grip-icon:hover {
    cursor: grab;
}

.vehicle-grip-icon:active {
    cursor: grabbing;
}


.vehicle-show-image{
    width : 500px;
}

.collapsed {

    height: 275px;
}

.add-vehicle-form{


}

.drop-box{
    width: 75%;
    height:100px; 
    background-color: aqua;
    margin-left:12%;
    opacity: .4;
    border-radius: 20px;
    color: white;
}

.drop-box:hover {
    opacity: .7;
}



#draggable {
   
}

.dropzone {
    width: 75%;
    height:40px;
    background-color: aqua;
    margin-left:12%;
    opacity: .4;
    border-radius: 20px;
    color: white;
    text-align: center;
}


.icon {
    height: 20px;
}

.top-buffer {
    height: 50px;
}

.navbar-nav {
    width: 100%;
    height: 50px;
    background-color: bisque;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menu-bars {
    padding-left: 6px
}

.menu-plus {
    position: fixed;
    right: 140px;
    top: 10px;
}

.icon-holder {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 18px;
}

.icon-holder:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.icon-holder-right {
    position: fixed;
    right: 133px;
    top: 5px;
    height: 40px;
    width: 40px;
}

.icon-holder-right:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.dealer-name {
    position: fixed;
    right: 25px;
    top: 12px;
}

a {
    color: black
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.row {
    width: 100%;
}

#stat-container.row {
    height: 200px;
}

#carousel-container.row {
    height: 340px;
}

#lead-container.row {
    padding-top: 25px;
}

#leaderBoardCard {
    margin-right: 25px;
    padding: 10px;
    height: 167px;
}

#leaderboard {
    margin: 0px;
}

.scrolling-wrapper {
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.car-card {
    display: inline-block;
    margin-left: 3px;
    /* cursor: grab; */
}

/*
.car-card:active {
    cursor: grabbing;
} */
.card {
    padding: 25px;
    position: relative;
    left: 25px;
    top: 25px;
    height: relative;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar {
    /* don’t forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6D7FCC;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748B;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded=“true”] {
    color: #fff;
    background: #6D7FCC;
}

.my-custom-scrollbar {
    position: relative;
    height: 250px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.view-vehicle-info-icon {
    position: absolute;
    right: 30px;
    bottom: 7px;
}

.view-vehicle-info-icon:hover {
    cursor: pointer;
}

.vehicle-grip-icon {
    position: absolute;
    right: 48%;
    bottom: 7px;
}

.vehicle-grip-icon:hover {
    cursor: grab;
}

.vehicle-grip-icon:active {
    cursor: grabbing;
}

.vehicle-show-image {
    width: 500px;
}

.collapsed {
    height: 275px;
}

.add-vehicle-form {}

.drop-box {
    width: 75%;
    height: 100px;
    background-color: aqua;
    margin-left: 12%;
    opacity: .4;
    border-radius: 20px;
    color: white;
}

.drop-box:hover {
    opacity: .7;
}

#draggable {}

.dropzone {
    width: 75%;
    height: 40px;
    background-color: aqua;
    margin-left: 12%;
    opacity: .4;
    border-radius: 20px;
    color: white;
    text-align: center;
}

/* sign in overlay */
#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

/* sign in pop up */
.form-elegant .font-small {
    font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.form-elegant .modal-header {
    border-bottom: none;
}

.modal-dialog .form-elegant .btn .fab {
    color: #2196F3 !important;
}

.form-elegant .modal-body,
.form-elegant .modal-footer {
    font-weight: 400;
}

.vehicle-toolbar{
    width: 70px;
    text-align: center;
}

#sell-vehicle-form{

    width:50%;
}

.rendered-panel{
    margin-top: 20px;

}